<app-header></app-header>


<div class="container py-5 h-100">
  <div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col-12 col-md-8 col-lg-6 col-xl-5">
      <div class="card bg-dark text-white" style="border-radius: 1rem;">
        <div class="card-body p-5 text-center">

          <div class="mb-md-5 mt-md-4 pb-5">

            <h2 class="fw-bold mb-2 text-uppercase">Inscription</h2>
            <p class="text-white-50 mb-5">Merci d'entrer un username deux mots de passe identiques</p>

            <p-messages></p-messages>

            <form [formGroup]="FormData" (ngSubmit)="onSubmit()">


              <div class="form-outline form-white mb-4">
                <input type="text" name="Login" class="form-control form-control-lg" formControlName="Login" />
                <label class="form-label" for="Login">Username</label>
              </div>

              <div class="form-outline form-white mb-4">
                <input type="password" name="Password" class="form-control form-control-lg"
                  formControlName="Password" />
                <label class="form-label" for="Password">Mot de passe</label>
              </div>

              <div class="form-outline form-white mb-4">
                <input type="password" name="ConfirmPassword" class="form-control form-control-lg"
                  formControlName="ConfirmPassword" pInputText>
                <label class="form-label" for="ConfirmPassword">Répéter votre Mot de passe</label>
              </div>

              <button class="btn btn-outline-light btn-lg px-5" [disabled]="!FormData.valid"
                type="submit">Inscription</button>
            </form>

          </div>

          <div>
            <p class="mb-0">Déjà un compte ? <a routerLink="/connexion"
                class="text-white-50 fw-bold">Connectez-vous ici</a>
            </p>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>