<header>
    <nav class="navbar navbar-expand-lg navbar-dark p-3 bg-dark" id="headerNav">
        <div class="container-fluid">
            <a class="navbar-brand d-block d-lg-none" href="#">
                <img src="assets/logo.png" height="80" />
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav mx-auto ">
                    <li class="nav-item">
                        <a routerLink="/accueil" class="nav-link mx-2">Accueil</a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="/entrainement" class="nav-link mx-2">Entrainement</a>
                    </li>
                    <li class="nav-item d-none d-lg-block">
                        <a class="nav-link mx-2" href="#">
                            <img src="assets/logo.png" height="80" />
                        </a>
                    </li>
                    <li class="nav-item" *ngIf="!currentUser">
                        <a class="nav-link mx-2" routerLink="/connexion">Connexion</a>
                    </li>
                    <li class="nav-item" *ngIf="!currentUser">
                        <a class="nav-link mx-2" routerLink="/inscription">Inscription</a>
                    </li>
                    <li class="nav-item" *ngIf="currentUser">
                        <a class="nav-link mx-2" routerLink="/profile">Menu de
                            {{currentUser.username}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>