<header class="p-3 bg-dark text-white">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <img src="assets/favicon.ico" alt="logo" width="40" height="40">
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a routerLink="/accueil" class="nav-link px-2 text-white">Accueil</a></li>
                <li><a routerLink="/entrainement" class="nav-link px-2 text-white">Entrainement</a></li>
            </ul>

            <div class="text-end" *ngIf="!currentUser">
                <button type="button" routerLink="/connexion" class="btn btn-outline-light me-2">Connexion</button>
                <button type="button" routerLink="/inscription" class="btn btn-warning">Inscription</button>
            </div>
            <div class="text-end" *ngIf="currentUser">
                <button type="button" routerLink="/profile" class="btn btn-warning">Menu de {{currentUser.username}}</button>
            </div>
        </div>
    </div>
</header>