@import "../app.component.scss";

.parole-container{
    width: 60%;
    background-color: #535353a4;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: justify;
}

.parole-container h2{
    font-size: 2em;
    font-weight: bold;
}

.parole-container p{
    font-size: 1.5em;
}

.big-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

hr{
    width: 30%;
    margin-top: 5px;
    margin-bottom: 10px;
}

:host ::ng-deep .p-button{
    margin-top: 100px;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mot-juste{
    background-color: rgb(9, 82, 40);
    color: black;
    text-align: center;
}

.mot-faux{
    background-color: rgb(189, 33, 33);
    color: black;
    
}
::placeholder{
    color: black ;
} 