<p-toast></p-toast>
<p-confirmPopup></p-confirmPopup>
<app-header></app-header>
<div class="big-container">
    <div class="loading-class" *ngIf="loading">
        <p>Chargement ...</p>
        <p-progressSpinner [style]="{width: '80px', height: '80px'}"></p-progressSpinner>
    </div>
    <div class="parole-container" *ngIf="!loading">
        <div *ngIf="!erreur">
            <h2>{{ nosParoles.musique }} ({{nosParoles.artiste }})</h2>
            <h2>Difficulté niveau {{difficulte}}</h2>
            <button (click)="confirm($event)" pButton icon="pi pi-bookmark" label="Sauvegarder"></button>
            <h2 *ngIf="difficulte > 1"> Mot(s) juste(s): {{ nbMotJuste }} / {{nosParoles.nb_mots_manquant }}</h2>
            <form (ngSubmit)="onSubmit()">
                <div [innerHTML]="nosParoles.code_html | safeHtml">
                </div>
                <p-button type="submit" label="Valider" *ngIf="difficulte > 1" icon="pi pi-check"></p-button>
            </form>
        </div>
        <div *ngIf="erreur">{{erreur}}</div>
    </div>
</div>

<app-footer></app-footer>