<app-header></app-header>
<div class="big-container">
    <div class="loading-class" *ngIf="loading">
        <p>Chargement ...</p>
        <p-progressSpinner [style]="{width: '80px', height: '80px'}"></p-progressSpinner>
    </div>
    <div class="grosse-boite" *ngIf="!loading">

        <div class="parole-container">
            <div *ngIf="!erreur">
                <div class="boite-header">
                    <h2>{{ nosParoles.musique }} ({{nosParoles.artiste }})</h2>
                    <h2>Difficulté niveau {{difficulte}}</h2>
                    <h2 *ngIf="difficulte > 1"> Mot(s) juste(s): {{ nbMotJuste }} / {{nosParoles.nb_mots_manquant }}
                    </h2>


                    <p-button type="button" label="Options" (click)="visibleSidebar = true" icon="pi pi-th-large"
                        styleClass="p-button-lg"></p-button>
                </div>

                <form (ngSubmit)="onSubmit()">
                    <div [innerHTML]="nosParoles.code_html | safeHtml">
                    </div>
                    <p-button class="btn-validate" type="submit" label="Valider" *ngIf="difficulte > 1"
                        icon="pi pi-check"></p-button>
                </form>

            </div>

            <div class="errorMessage" *ngIf="erreur">{{erreur}}</div>


            <div class="wrap-video">
                <iframe width="520" height="315" src="https://www.youtube.com/embed/ik7EBI0wonw"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen></iframe>
            </div>

            <!--Menu à gauche-->
            <p-sidebar [(visible)]="visibleSidebar" [baseZIndex]="10000">
                <h2>Options</h2>

                <hr>

                <h4>Sauvegarde</h4>


                <div class="box-save">
                    <button (click)="showMenuFolder($event)" pButton icon="pi pi-bookmark" label="Sauvegarder"
                        class="p-button-success"></button>
                    <div *ngIf="showDossier">
                        <app-music-folder folderType="add" [artiste]="nosParoles.artiste"
                            [musique]="nosParoles.musique"></app-music-folder>
                    </div>
                </div>

                <hr>

                <h4>Choix Difficultée: {{newDifficulte}}</h4>
                <div class="box-difficulte">
                    <div class="scroll-button">
                        <p-slider [(ngModel)]="newDifficulte" orientation="vertical" [min]="1" [max]="4"></p-slider>
                    </div>
                    <div class="button-change">
                        <button (click)="changeDifficulte()" pButton label="Valider" class="p-button-success"
                            [disabled]="difficulte === newDifficulte"></button>
                    </div>
                </div>
            </p-sidebar>

        </div>
    </div>

</div>

<app-footer></app-footer>