<p-toast></p-toast>
<h2>Vos Dossiers</h2>
<div *ngIf="!loading">
    <div *ngIf="dossier">
        <p-panelMenu [model]="dossier" [style]="{'width':'300px'}"
            (contextmenu)="onRightClick($event, $event)"></p-panelMenu>
        <p-confirmPopup></p-confirmPopup>
        <div id="MenuAjoutDossier">
            <button pButton pRipple type="button" icon="pi pi-plus" class="p-button-rounded p-button-primary"
                (click)="TweakMenuAjoutDossier($event)" *ngIf="choiceMenu"></button>
            <div *ngIf="activeAddFolderMenu">
                <form [formGroup]="FormAddFolder" (ngSubmit)="onSubmitAjoutDossier()">
                    <input id="inputAddFolder" type="text" name="FolderName" class="p-inputtext-sm" formControlName="FolderName" placeHolder="Nom du dossier" pInputText>
                    <button pButton pRipple type="button" icon="pi pi-check" class="p-button-rounded p-button-success"
                        [disabled]="!FormAddFolder.valid" type="submit"></button>
                </form>
            </div>
        </div>
    </div>
    <div *ngIf="!dossier">
        <p>{{erreurMessage}}</p>>
    </div>
</div>
<div *ngIf="loading">
    <p-progressSpinner></p-progressSpinner>
</div>

<!-- menu contextuel dossier et musique -->
<div *ngIf="activeChoiceMenu">
    <p-menu #menu [model]="choiceMenu"
        [ngStyle]="{'position': 'absolute', 'left': posXChoiceMenu + 'px', 'top': posYChoiceMenu + 'px', 'z-index' : 1}">
        <ng-template let-item>
            <div>
                {{item.label}}
            </div>
        </ng-template>
    </p-menu>
</div>

<!-- Form renamefolder -->
<div *ngIf="activeRenameFolderMenu">
    <form [formGroup]="RenameFolderMenu" (ngSubmit)="onSubmitRenameDossier()"
        [ngStyle]="{'position': 'absolute', 'left': posXChoiceMenu + 'px', 'top': posYChoiceMenu + 'px', 'z-index' : 1}">
        <input type="text" name="NewName" class="p-inputtext-sm" formControlName="NewName"
            placeholder="Entrez le nouveau nom ici" pInputText>
        <button pButton pRipple type="button" icon="pi pi-check" class="p-button-rounded p-button-success"
            [disabled]="!RenameFolderMenu.valid" type="submit"></button>
        <button pButton pRipple type="button" icon="pi pi-times" class="p-button-rounded p-button-danger"
            (click)="CloseMenuRenameDossier()"></button>
    </form>
</div>