form{
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: left;
}

#inputAddFolder{
    margin-right: 5px;
    margin-left: 5px;
}

#MenuAjoutDossier{
    display: flex;
    flex-direction: row;
}

