.container {
    display: flex;
    flex-direction: column;
    padding-left: 10vw;
    margin-top: 10vh;
    margin-bottom: 10vh;
    width: 100%;

}

.container h4 {
    margin-top: 5vh;
}

.container a {
    color: grey;
    text-decoration: none;
}

.container a:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 991px) {
    .container {
        padding: 1vw;
    }
    .container h1{
        text-align: center;
    }
}