<app-header></app-header>
<div class="contenu">
    <h1>Bienvenue {{currentUser?.username}}</h1>
    <app-music-folder folderType="user"></app-music-folder>
</div>
<div id="tuto">
    <h2>Explication:</h2>
    <ul>
        <li>
            <h3>Ajouter un dossier:</h3>
            <p>Ajoutez un dossier à l'aide du boutton Bleu "+" ci-dessus </p>
        </li>
        <li>
            <h3>Supprimer un dossier:</h3>
            <p>Cliquez droit sur un dossier sur ordinateur ou restez appuyez longtemps dessus sur tablette et
                téléphone
                puis séléctionnez "Supprimer" </p>
        </li>
        <li>
            <h3>Renommer un dossier:</h3>
            <p>Cliquez droit sur un dossier sur ordinateur ou restez appuyez longtemps dessus sur tablette et
                téléphone
                puis séléctionnez "Renommer" </p>
        </li>
        <li>
            <h3>Ajouter une Musique:</h3>
            <p>Ajouter une musique se fait dans le menu apprentissage de notre site !</p>
        </li>
        <li>
            <h3>Renommer un dossier:</h3>
            <p>Cliquez droit sur une musique sur ordinateur ou restez appuyez longtemps dessus sur tablette et
                téléphone
                puis séléctionnez "Supprimer" </p>
        </li>
    </ul>
</div>
<app-footer></app-footer>